django>=5.0,<5.1
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=23.5
gunicorn>=21.2
psycopg2-binary>=2.9
whitenoise>=6.5
dj-database-url>=2.1
Pillow>=10.2
trimesh>=3.9
